html, body {
  font-family: 'Tilt Neon', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  margin:0;
  background: rgb(21, 21, 21);
  /* background-color: transparent; */
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
